a{
	text-decoration:none;
	text-align: center;
}

a:link, a:visited {
    color: #000000;
	}

a:link:active, a:visited:active, a:hover  {
    color: #FFFFFF;
		text-decoration: none;
}

.photo {
	width: 400px;
	height: 400px;
}

.padding-left {
	padding-left: 0px;
	margin-left:0px;
}
.padding-right {
	padding-right: 0px;
	margin-right: 0px;

}
.paragraph{
	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	color: #626262;
}

ol{
	font-family: Rambla;
	font-size:23px;
	text-align: center;
}

.custom-carusel{
	background-color: "black";
}

body{
	/* background-image: url("background.png"); */
	background-color: #000000;
}

h2{
	font-family: Philosopher;
	text-align: right;
	padding-right: 7px;
	font-size: 42px;
}

.header{
	font-family: Philosopher;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-style: italic;
	font-size: 40px;
	text-align: center;
	color: #050608;
}

#downloadDivide{
	width:600px;
	height:90px;
	background-color:#616161;
}

#downloadButton{
	position: relative;
	top: 10px;

	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 56px;
	text-align: center;
	color:#FFFFFF;
}

#name{
	color:#0B1331;
	text-align: center;
}

.navi {
	position: fixed;
	bottom:10px;
	right:40px;

	border: 2px;
	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
}
