a{
	text-decoration:none;
	text-align: center;
}

a:link, a:visited {
    color: #000000;
	}

a:link:active, a:visited:active, a:hover  {
    color: #FFFFFF;
		text-decoration: none;
}

.photo {
	width: 400px;
	height: 400px;
}

.padding-left {
	padding-left: 0px;
	margin-left:0px;
}
.padding-right {
	padding-right: 0px;
	margin-right: 0px;

}
.paragraph{
	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	color: #626262;
}

ol{
	font-family: Rambla;
	font-size:23px;
	text-align: center;
}

.custom-carusel{
	background-color: "black";
}

body{
	/* background-image: url("background.png"); */
	background-color: #D6D8FF;
}

h2{
	font-family: Philosopher;
	text-align: right;
	padding-right: 7px;
	font-size: 42px;
}

.header{
	font-family: Philosopher;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-style: italic;
	font-size: 40px;
	text-align: center;
	color: #050608;
}

#downloadDivide{
	width:600px;
	height:90px;
	background-color:#616161;
}

#downloadButton{
	position: relative;
	top: 10px;

	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 56px;
	text-align: center;
	color:#FFFFFF;
}

#name{
	color:#0B1331;
	text-align: center;
}

.navi {
	position: fixed;
	bottom:10px;
	right:40px;

	border: 2px;
	font-family: Rambla;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
   border-top: 16px solid blue;
   border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
