{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" /> -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jqueryEdit.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
    <title>Subscribe</title>
</head>

<body>
    <div class="container">
        <form id="subscribe_form" method="post">

            {% csrf_token %}
            {{ forms }}

            <button id="submit" type="submit" class="btn btn-primary" style="margin-top:30px">Submit</button>
        </form>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="{% static 'js/subscribe.js' %}"></script> i want to use internal script-->
    </div>

</body>
<script>
    $(document).ready(function () {
        var username = ""
        var email = ""
        var password = ""

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
        });

        $('#subscribe_form').on('submit', function (event) {
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            create_user();
        });

        $("#id_username").change(function () {
            username = $(this).val();
            $.ajax({
                url: '/validateForm',
                data: {
                    'username': username,
                    'email': email,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken_username) {
                        alert("A user with this username already exists.");
                    }
                }
            });
            console.log($(this).val());
        });

        $("#id_email").change(function () {
            email = $(this).val();
            $.ajax({
                url: '/validateForm',
                data: {
                    'username': username,
                    'email': email,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken_email) {
                        alert("A user with this email already exists.");
                    }
                }
            });
            console.log($(this).val());
        });

        $("#id_password").change(function () {
            password = $(this).val();
        });

        function create_user() {
            console.log("creating user");
            // $.ajaxSetup({
            //     beforeSend: function (xhr) {
            //         xhr.setRequestHeader('csrf-token', csrftoken);
            //     }
            // });
            $.ajax({
                url: '{% url "add_user" %}', // the endpoint
                type: "POST", // http method
                data: {
                    "username": username,
                    "email": email,
                    "password": password
                }, // data sent with the post request
                // handle a successful response
                success: function () {
                    console.log("MASUK SINI")
                    $('#id_username').val(''); // remove the value from the input
                    $('#id_password').val(''); // remove the value from the input
                    $('#id_email').val(''); // remove the value from the input
                    // console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                // error: function (xhr, errmsg, err) {
                //     $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //         " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                //     console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                // }
            });
        };
    });
</script>

</html>