{% load staticfiles %}
{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/jqueryEdit.css' %}" />
  {% block head %}
  {% endblock %}
</head>

<body>
  <!-- <div id="loader"></div> -->
  <div id="myDiv">
    {% block body%}
    {% endblock %}
  </div>
  <div class="container">
    <nav class="navi row">
      <div class="col-3">
        <a href="/">Home &nbsp </a>
      </div>
      <div class="col-3">
        <a href="/profilePage/">Profile</a>
      </div>
      <div class="col-3">
        <a id="change">Theme</a>
      </div>
      <div class="col-3">
        <a href="/favoritePage/">Buku</a>
      </div>
    </nav>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/javascript.js' %}"></script>

</body>

</html>