{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
    <title> Favourite Book </title>
{% endblock %}
{% block body %}

	<div class="container">
        <h2 style="text-align:center">My Book</h2>
        <h3 style="text-align:center">Favourite: <span id="favorite-count"></span></h3>

        <form method="GET" style="margin-bottom: 15vh">
                <label for="cari_buku">Cari</label>
                <input id="cari_buku" name ="cari_buku" class="form-control" placeholder="Search a book">
                <input id="cari_buku_submit" class="btn btn-primary" value = "Submit">
        </form>

        <table id="dataBuku" class="table table-striped table-bordered dt-responsive" style="width:100%">
            <thead>
                <tr>
 
                    <th>Thumbnail</th>
                    <th>Judul</th>
                    <th>Penulis</th>
                    <th>Penerbit</th>
                    <th>Kategori</th>
                    <th>Favoritkan</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
{% endblock %}