{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
      <div class="row">
          <div class="col-12">
              <img class="mx-auto d-block photo" src="{% static 'images/profilePhoto.gif' %}" alt="AhmadNaufal_photo" style="position:relative;top:40px;">
          </div>
      </div>
</div>

  <div>
    <h1 class="display-3 header" style="position:relative;top:50px;font-style:normal">Ahmad Naufal Hilmy </h1>
    <p class="header" style="font-size:20px;margin-top:55px"> &lt;p&gt; "Welcome! I'm Hilmy, a Coder Enthusiast. Though I'm not excel at it, but I love web coding!"&lt;/p&gt; </p>
  </div>

  <div class="container" style="margin-bottom: 10vh">
      <div id="accordion">
        <h3>Section 1</h3>
        <div>
          <p>
          Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
          ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
          amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
          odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
          </p>
        </div>
        <h3>Section 3</h3>
        <div>
          <p>
          Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
          Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
          ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
          lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
          </p>
          <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
          </ul>
        </div>
        <h3>Section 4</h3>
        <div>
          <p>
          Cras dictum. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
          mauris vel est.
          </p>
          <p>
          Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
