{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block head %}
<title></title>
{% endblock %}

{% block body %}
<h1 class="header"> Hello World! </h1>

<div style="padding-left:10%;padding-right:10%">
  <form method="post" action=".">

    {% csrf_token %}
    {{ forms }}

    <button id="submit" type="submit" class="btn btn-primary" style="margin-top:30px">Submit</button>
  </form>

  {% for attribut in post %}
  <h4><br> {{ attribut.title }} </h4>
  <h7> {{ attribut.createTime }} </h7>
  <p><br> {{ attribut.content }} </p>
  {% endfor %}

  <a href="/deleteAll/" type="btn btn-primary">Delete All</a>


  {% endblock %}