<!doctype html>
<html>

<head>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title>Homepage</title>
</head>

<body>
    {% if username is None %}
    <form role="form" method="post">
        {% csrf_token %}
        {{ forms }}
        <button type="submit" value="Submit" class="btn btn-info">LogIn</button>
    </form>

    <p>-------OR--------</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    {% else %}
    <h3>Welcome you are signed in as {{ user.username }}</h3>
    <button id="add_counter">Click to add</button>
    <p>{{ request.session.num }}</p>
    <a href="{% url 'logout' %}">LogOut</a>
    {% endif %}

<script>
    $(document).ready(function () {
        $("#add_counter").click(function () {
            $.ajax({
            url: '{% url "add_clicker" %}',
            success: function (data) {
                alert("NAMBAH LOH");
            }
            });
        });
    });
</script>
</body>